<!-- CARI DETAY MODAL:BEGIN -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ. </h5>
        <span class="badge badge-secondary">New</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="la la-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-qrcode"></span>
                      </span>
              <input type="text" class="form-control" value="FM00001" disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-try"></span>
                      </span>
              <select class="form-control">
                <option>Çalışma Şekli</option>
                <option selected>Cari</option>
                <option>Peşin</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-building"></span>
                      </span>
              <input type="text" class="form-control" value="YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-mobile"></span>
                      </span>
              <input type="text" class="form-control" value="(542) 435-1598">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-phone"></span>
                      </span>
              <input type="text" class="form-control" value="(542) 435-1598">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-map-o"></span>
                      </span>
              <textarea class="form-control">Cumhuriyet mah. Türkmen yolu NO 12</textarea>
            </div>
            <div class="fl-flex-label">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-map-signs"></span>
                      </span>
              <select class="form-control">
                <option>Cari İl</option>
                <option>Manisa</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-map-signs"></span>
                      </span>
              <select class="form-control">
                <option>Cari İlçe</option>
                <option>Turgutlu</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-bank"></span>
                      </span>
              <input type="text" class="form-control" placeholder="Vergi Dairesi">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-bank"></span>
                      </span>
              <input type="text" class="form-control" placeholder="Vergi Numarası">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-user"></span>
                      </span>
              <input type="text" class="form-control" placeholder="Cari Adı">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-user"></span>
                      </span>
              <input type="text" class="form-control" placeholder="Cari Soyadı">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-at"></span>
                      </span>
              <input type="text" class="form-control" placeholder="Cari E-Posta Adresi">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-barcode"></span>
                      </span>
              <input type="text" class="form-control" placeholder="Muhasebe Kodu">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-users"></span>
                      </span>
              <select class="form-control">
                <option>Cari Grubu</option>
                <option>Alıcı</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-users"></span>
                      </span>
              <select class="form-control">
                <option>Cari Tipi</option>
                <option>Son Kullanıcı</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-comment"></span>
                      </span>
              <textarea class="form-control" placeholder="Cari Açıklama"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-outline ks-light" data-dismiss="modal">Vazgeç</button>
        <button type="button" class="btn btn-primary">Yazdır</button>
        <button type="button" class="btn btn-success">Cariyi Güncelle</button>
      </div>
    </div>
  </div>
</div>
<!-- CARI DETAY MODAL:END -->
