<!-- CARI DETAY MODAL:BEGIN -->
<div class="modal fade sw-stok-hareket" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Stok Hareketler</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="la la-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-5">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-barcode"></span>
                      </span>
              <input type="text" class="form-control" placeholder="Muhasebe Kodu">
            </div>
          </div>
          <div class="col-sm-5">
            <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-barcode"></span>
                      </span>
              <input type="text" class="form-control" placeholder="Muhasebe Kodu">
            </div>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-success">Uygula</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div class="card panel panel-default panel-table">
              <div class="card-block">
                <table class="table table-bordered text-light stacktable large-only">
                  <thead class="thead-default">
                  <tr>
                    <th>İşlem Tarihi</th>
                    <th>Stok Adı</th>
                    <th>Miktar</th>
                    <th>İşlem Türü</th>
                    <th>KPB Birimi</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>05.12.2017</td>
                    <td>RAYNOX USB MOUSE</td>
                    <td>1 Ad.</td>
                    <td class="giris">Giriş</td>
                    <td>12,71</td>
                  </tr>
                  <tr>
                    <td>05.12.2017</td>
                    <td>RAYNOX USB MOUSE</td>
                    <td>1 Ad.</td>
                    <td class="cikis">Çıkış</td>
                    <td>16,71</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-outline ks-light" data-dismiss="modal">Vazgeç</button>
        <button type="button" class="btn btn-success">Yazdır</button>
      </div>
    </div>
  </div>
</div>
<!-- CARI DETAY MODAL:END -->
