<div class="col-md-6">
  <div class="row">
    <div class="col-lg-12">
      <div class="card panel panel-default panel-table">
        <h5 class="card-header">
          Teklif Durumları
        </h5>
        <div class="card-block">
          <table class="table table-bordered vertical-align-middle">
            <thead>
            <tr>
              <th>Proje</th>
              <th width="160">Tarih</th>
              <th>Teklif Sahibi</th>
              <th width="110">Fiyat</th>
              <th width="165">Durum</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row-checked">
              <td>
                <div class="text-block">
                  <div class="text-block-container">
                    <div class="text-block-text">Kamera Kurulumu</div>
                    <div class="text-block-sub-text">Fikret TURAN</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block">
                  <div class="text-block-container">
                    <div class="text-block-text">08 Aralık 2017</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block image">
                  <div class="image-block-container">
                    <img src="assets/img/avatars/ava-2.png" class="rounded-circle" width="36" height="36">
                  </div>
                  <div class="text-block-container">
                    <div class="text-block-text">Füme Bilgisayar</div>
                    <div class="text-block-sub-text">Fikret TURAN</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block">
                  <div class="text-block-container">
                    <div class="text-block-text">10,000 TL</div>
                    <div class="text-block-sub-text">Ödenmiş</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block status">
                  <div class="status-block-container">
                    <span class="status-block status-block-success"></span>
                  </div>
                  <div class="text-block-container">
                    <div class="text-block-text">Onaylandı</div>
                  </div>
                </div>
              </td>
              <td class="table-actions">
                <div class="dropdown">
                  <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="la la-ellipsis-h"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="#">
                      <span class="la la-pencil icon text-primary-on-hover"></span> Düzenle
                    </a>
                    <a class="dropdown-item" href="#"><span class="la la-trash icon text-danger-on-hover"></span> Sil</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="text-block">
                  <div class="text-block-container">
                    <div class="text-block-text">PC Bakım Onarım</div>
                    <div class="text-block-sub-text">Ümit YILMAZ</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block">
                  <div class="text-block-container">
                    <div class="text-block-text">09 Aralık 2017</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block image">
                  <div class="image-block-container">
                    <img src="assets/img/avatars/ava-2.png" class="rounded-circle" width="36" height="36">
                  </div>
                  <div class="text-block-container">
                    <div class="text-block-text">Akar Makina</div>
                    <div class="text-block-sub-text">İsim Soyisim</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block">
                  <div class="text-block-container">
                    <div class="text-block-text">3,000 TL</div>
                    <div class="text-block-sub-text">Ödeme bekleniyor</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block status">
                  <div class="status-block-container">
                    <span class="status-block status-block-warning"></span>
                  </div>
                  <div class="text-block-container">
                    <div class="text-block-text">Beklemede</div>
                  </div>
                </div>
              </td>
            <td class="table-actions">
              <div class="dropdown">
                <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="la la-ellipsis-h"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                  <a class="dropdown-item" href="#">
                    <span class="la la-pencil icon text-primary-on-hover"></span> Düzenle
                  </a>
                  <a class="dropdown-item" href="#"><span class="la la-trash icon text-danger-on-hover"></span> Sil</a>
                </div>
              </div>
            </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="row">
    <div class="col-lg-12">
      <div class="card panel panel-default panel-table">
        <h5 class="card-header">
          Tamamlanan Teklifler
        </h5>
        <div class="card-block">
          <table class="table table-bordered vertical-align-middle">
            <thead>
            <tr>
              <th>Proje</th>
              <th width="160">Tarih</th>
              <th>Teklif Sahibi</th>
              <th width="110">Fiyat</th>
              <th width="165">Durum</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row-checked">
              <td>
                <div class="text-block">
                  <div class="text-block-container">
                    <div class="text-block-text">Kamera Kurulumu</div>
                    <div class="text-block-sub-text">Fikret TURAN</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block">
                  <div class="text-block-container">
                    <div class="text-block-text">08 Aralık 2017</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block image">
                  <div class="image-block-container">
                    <img src="assets/img/avatars/ava-2.png" class="rounded-circle" width="36" height="36">
                  </div>
                  <div class="text-block-container">
                    <div class="text-block-text">Füme Bilgisayar</div>
                    <div class="text-block-sub-text">Fikret TURAN</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block">
                  <div class="text-block-container">
                    <div class="text-block-text">10,000 TL</div>
                    <div class="text-block-sub-text">Ödenmiş</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block status">
                  <div class="text-block-container">
                    <div class="text-block-text">Tamamlandı</div>
                  </div>
                </div>
              </td>
              <td class="table-actions">
                <div class="dropdown">
                  <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="la la-ellipsis-h"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="#">
                      <span class="la la-pencil icon text-primary-on-hover"></span> Teklifi Görüntüle
                    </a>
                    <a class="dropdown-item" href="#"><span class="la la-trash icon text-danger-on-hover"></span> Teklifi Dışa Aktar</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="text-block">
                  <div class="text-block-container">
                    <div class="text-block-text">Kamera Kurulumu</div>
                    <div class="text-block-sub-text">Fikret TURAN</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block">
                  <div class="text-block-container">
                    <div class="text-block-text">08 Aralık 2017</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block image">
                  <div class="image-block-container">
                    <img src="assets/img/avatars/ava-2.png" class="rounded-circle" width="36" height="36">
                  </div>
                  <div class="text-block-container">
                    <div class="text-block-text">Füme Bilgisayar</div>
                    <div class="text-block-sub-text">Fikret TURAN</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block">
                  <div class="text-block-container">
                    <div class="text-block-text">10,000 TL</div>
                    <div class="text-block-sub-text">Ödenmiş</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="table-cell-block status">
                  <div class="text-block-container">
                    <div class="text-block-text">Tamamlandı</div>
                  </div>
                </div>
              </td>
              <td class="table-actions">
                <div class="dropdown">
                  <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="la la-ellipsis-h"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="#">
                      <span class="la la-pencil icon text-primary-on-hover"></span> Teklifi Görüntüle
                    </a>
                    <a class="dropdown-item" href="#"><span class="la la-trash icon text-danger-on-hover"></span> Teklifi Dışa Aktar</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
