<!-- CARI DETAY MODAL:BEGIN -->
<div class="modal fade sw-lisans" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lisanslar</h5><span class="badge badge-success"><a href="">YENİ LİSANS ANAHTARI EKLE</a></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="la la-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="card panel panel-default panel-table">
              <div class="card-block">
                <table class="table table-bordered text-light stacktable large-only">
                  <thead class="thead-default">
                  <tr>
                    <th>#</th>
                    <th>Lisans Adı</th>
                    <th>Kullanıcı Adı</th>
                    <th>Şifre</th>
                    <th>Lisans Anahtarı</th>
                    <th>Açıklama</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <a class="detail-icon" href=""><i class="ks-icon la la-plus-circle"></i></a>
                    </td>
                    <td>WOLVOX 8</td>
                    <td></td>
                    <td>42582</td>
                    <td>200833666</td>
                    <td>
                      <a href="#" class="comment-active" title="Açıklama Bulunmaktadır"><span class="la la-comment"></span></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-outline ks-light" data-dismiss="modal">Vazgeç</button>
        <button type="button" class="btn btn-success">Yazdır</button>
      </div>
    </div>
  </div>
</div>
<!-- CARI DETAY MODAL:END -->
