<!-- BEGIN NAVBAR HORIZONTAL ICONBAR -->
<div class="ks-navbar-horizontal ks-icons-top ks-info">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="/" class="nav-link active" href="../horizontal_navbar_iconbar-primary/index.html">
        <span class="ks-icon la la-dashboard"></span>
        <span class="ks-text">Anasayfa</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a routerLink="/Cari" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="ks-icon la la-dashboard"></span>
        <span class="ks-text">Cariler</span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" target="_blank">Cari Kart Raporları</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a routerLink="/Stok" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="ks-icon la la-dashboard"></span>
        <span class="ks-text">Stoklar</span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" target="_blank">Stok Kart Raporları</a>
        <a class="dropdown-item" href="#" target="_blank">Kritik Stoklar</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a routerLink="/Servis" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="ks-icon la la-envelope">
          <span class="badge badge-pill badge-success ks-badge ks-sm">30</span>
        </span>
        <span class="ks-text">Servisler</span>
      </a>

      <div class="dropdown-menu">
        <a class="dropdown-item" href="mail-empty.html">Servis Raporları</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a routerLink="/Personel" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="ks-icon la la-ticket ks-notify"></span>
        <span class="ks-text">Personel İşlemleri</span>
      </a>

      <div class="dropdown-menu">
        <a class="dropdown-item" href="tickets-empty.html">Personel Raporları</a>
      </div>
    </li>

    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="ks-icon la la-comments-o"></span>
        <span class="ks-text">Etiket & Medya</span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="messenger.html">QR Kod Oluştur</a>
        <a class="dropdown-item" href="messenger-group.html">Serbest Metin Oluştur</a>
        <a class="dropdown-item" href="messenger-group.html">Etiket Oluştur</a>
        <a class="dropdown-item" href="messenger-group.html">Slider Yönetimi</a>
      </div>
    </div>

    <li class="nav-item">
      <a class="nav-link" href="calendar.html">
        <span class="ks-icon la la-calendar-o"></span>
        <span class="ks-text">Raporlar</span>
      </a>
    </li>

    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="ks-icon la la-file-o"></span>
        <span class="ks-text">Finans</span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="filemanager-grid.html">Tahsilat</a>
        <a class="dropdown-item" href="filemanager-grid-image.html">Tediye</a>
      </div>
    </div>

    <div class="nav-item dropdown">
      <a routerLink="/Teklif" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="ks-icon la la-eye"></span>
        <span>Teklif</span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="document-viewer-image.html">Teklif Al</a>
        <a routerLink="/Teklif/Olustur" class="dropdown-item" href="document-viewer-pdf.html">Teklif Ver</a>
        <a class="dropdown-item" href="document-viewer-presentation.html">Teklif Listesi</a>
      </div>
    </div>

    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="ks-icon la la-globe"></span>
        <span class="ks-text">Ayarlar</span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="form-basic-inputs.html">Bayi Ayarları</a>
        <a class="dropdown-item" href="form-advanced-inputs.html">Bayi Listesi</a>
        <a class="dropdown-item" href="form-buttons.html">Genel Ayarlar</a>
        <a class="dropdown-item" href="form-validation.html">Parametre Ayarları</a>
        <a class="dropdown-item" href="form-touchspin.html">Dizayn İşlemleri</a>
        <a class="dropdown-item" href="form-flex-labels.html">SMS Şablon Ayarları</a>
        <a class="dropdown-item" href="form-autocomplete-and-tags.html">Hizmet Listesi</a>
        <a class="dropdown-item" href="form-steps-column.html">Servis Tipleri</a>
      </div>
    </div>

  </ul>
</div>
<!-- END NAVBAR HORIZONTAL ICONBAR -->
