<app-crm-navigation></app-crm-navigation>

<div class="col-md-10">
  <div class="ks-page-content-body ks-projects-grid-board">
    <div class="ks-projects-grid-board-projects">
      <div class="ks-projects-grid-board-header">
        <div class="ks-search">
          <div class="input-icon icon-right icon icon-lg icon-color-primary">
            <input id="input-group-icon-text" type="text" class="form-control" placeholder="Görev Listesinde Arama Yap...">
            <span class="icon-addon">
                                    <span class="la la-search"></span>
                                </span>
          </div>
        </div>
      </div>
      <div class="ks-projects-grid-board-body">
        <div class="ks-scroll-wrapper ks-rows-section">
          <div class="row">
            <div class="col-xl-4 col-lg-12">
              <div class="card panel panel-default ks-project">
                <div class="ks-project-header">
                  <div class="dropdown ks-control">
                    <a class="btn btn-link ks-no-text ks-no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="la la-ellipsis-h ks-icon"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                      <a class="dropdown-item" href="#">Düzenle</a>
                      <a class="dropdown-item" href="#">Sil</a>
                    </div>
                  </div>
                </div>
                <div class="ks-project-body">
                  <a href="#" class="ks-name">
                    <span class="ks-text">Kablo Çekimi</span>
                  </a>
                  <div class="ks-description">
                    Google is an American multinational technology company specializing in Internet-related services and products that include online advertising technologie…
                  </div>
                  <div class="ks-meta">
                    <div class="ks-item">
                      <div class="ks-name">
                        TARİH
                      </div>
                      <div class="ks-description">
                        10 Aralık 2017
                      </div>
                    </div>
                    <div class="ks-item">
                      <div class="ks-name">
                        DURUM
                      </div>
                      <div class="ks-description">
                        ACİL
                      </div>
                    </div>
                    <div class="ks-item ks-images">
                      <div class="ks-name">
                        PERSONEL
                      </div>
                      <div class="ks-description">
                        <a href="#">
                          Alpaslan Oğuz İÇÖZ
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="ks-tags">
                    <span class="badge badge-success-outline">DIŞ SERVİS</span>
                  </div>
                </div>
              </div>
              <div class="card-footer danger">
                ÖNCELİKLİ SERVİS
              </div>
            </div>
            <div class="col-xl-4 col-lg-12">
              <div class="card panel panel-default ks-project">
                <div class="ks-project-header">
                  <div class="dropdown ks-control">
                    <a class="btn btn-link ks-no-text ks-no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="la la-ellipsis-h ks-icon"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                      <a class="dropdown-item" href="#">Düzenle</a>
                      <a class="dropdown-item" href="#">Sil</a>
                    </div>
                  </div>
                </div>
                <div class="ks-project-body">
                  <a href="#" class="ks-name">
                    <span class="ks-text">Kablo Çekimi</span>
                  </a>
                  <div class="ks-description">
                    Google is an American multinational technology company specializing in Internet-related services and products that include online advertising technologie…
                  </div>
                  <div class="ks-meta">
                    <div class="ks-item">
                      <div class="ks-name">
                        TARİH
                      </div>
                      <div class="ks-description">
                        10 Aralık 2017
                      </div>
                    </div>
                    <div class="ks-item">
                      <div class="ks-name">
                        DURUM
                      </div>
                      <div class="ks-description">
                        ACİL
                      </div>
                    </div>
                    <div class="ks-item ks-images">
                      <div class="ks-name">
                        PERSONEL
                      </div>
                      <div class="ks-description">
                        <a href="#">
                          Alpaslan Oğuz İÇÖZ
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="ks-tags">
                    <span class="badge badge-success-outline">DIŞ SERVİS</span>
                  </div>
                </div>
              </div>
              <div class="card-footer warning">
                GÜN İÇİNDE BİTİRİLMELİ
              </div>
            </div>
            <div class="col-xl-4 col-lg-12">
              <div class="card panel panel-default ks-project">
                <div class="ks-project-header">
                  <div class="dropdown ks-control">
                    <a class="btn btn-link ks-no-text ks-no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="la la-ellipsis-h ks-icon"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                      <a class="dropdown-item" href="#">Düzenle</a>
                      <a class="dropdown-item" href="#">Sil</a>
                    </div>
                  </div>
                </div>
                <div class="ks-project-body">
                  <a href="#" class="ks-name">
                    <span class="ks-text">Kablo Çekimi</span>
                  </a>
                  <div class="ks-description">
                    Google is an American multinational technology company specializing in Internet-related services and products that include online advertising technologie…
                  </div>
                  <div class="ks-meta">
                    <div class="ks-item">
                      <div class="ks-name">
                        TARİH
                      </div>
                      <div class="ks-description">
                        10 Aralık 2017
                      </div>
                    </div>
                    <div class="ks-item">
                      <div class="ks-name">
                        DURUM
                      </div>
                      <div class="ks-description">
                        ACİL
                      </div>
                    </div>
                    <div class="ks-item ks-images">
                      <div class="ks-name">
                        PERSONEL
                      </div>
                      <div class="ks-description">
                        <a href="#">
                          Alpaslan Oğuz İÇÖZ
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="ks-tags">
                    <span class="badge badge-success-outline">DIŞ SERVİS</span>
                  </div>
                </div>
              </div>
              <div class="card-footer default">
                NORMAL SERVİS
              </div>
            </div>
            <div class="col-xl-4 col-lg-12">
              <div class="card panel panel-default ks-project card-secondary">
                <div class="ks-project-header">
                  <div class="dropdown ks-control">
                    <a class="btn btn-link ks-no-text ks-no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="la la-ellipsis-h ks-icon"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                      <a class="dropdown-item" href="#">Düzenle</a>
                      <a class="dropdown-item" href="#">Sil</a>
                    </div>
                  </div>
                </div>
                <div class="ks-project-body">
                  <a href="#" class="ks-name">
                    <span class="ks-text">Kablo Çekimi</span>
                  </a>
                  <div class="ks-description">
                    Google is an American multinational technology company specializing in Internet-related services and products that include online advertising technologie…
                  </div>
                  <div class="ks-meta">
                    <div class="ks-item">
                      <div class="ks-name">
                        TARİH
                      </div>
                      <div class="ks-description">
                        10 Aralık 2017
                      </div>
                    </div>
                    <div class="ks-item">
                      <div class="ks-name">
                        DURUM
                      </div>
                      <div class="ks-description">
                        ACİL
                      </div>
                    </div>
                    <div class="ks-item ks-images">
                      <div class="ks-name">
                        PERSONEL
                      </div>
                      <div class="ks-description">
                        <a href="#">
                          Alpaslan Oğuz İÇÖZ
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="ks-tags">
                    <span class="badge badge-success-outline">DIŞ SERVİS</span>
                  </div>
                </div>
              </div>
              <div class="card-footer success">
                SERVİS TAMAMLANDI
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ks-projects-grid-board-tasks">
      <div class="ks-projects-grid-board-tasks-list">
        <div class="ks-projects-grid-board-tasks-header">
          <span class="ks-text">Yeni Görev Oluştur</span>
        </div>
        <div class="ks-projects-grid-board-tasks-body pd20">
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-search"></span>
                      </span>
                <input type="text" class="form-control" placeholder="Görev Adı">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-search"></span>
                      </span>
                <textarea class="form-control" placeholder="Görev Açıklama"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-search"></span>
                      </span>
                <select class="form-control">
                  <option>Görev Acil Durumu</option>
                  <option>Select</option>
                </select>              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-search"></span>
                      </span>
                <select class="form-control">
                  <option>Görev Sahibi</option>
                  <option>Select</option>
                </select>              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-search"></span>
                      </span>
                <select class="form-control">
                  <option>Departman</option>
                  <option>Select</option>
                </select>              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success" style="width: 100%">Görevi Oluştur</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
