<div class="ks-nav-body">
  <div class="ks-nav-body-wrapper">
    <div class="container-fluid">
      <!-- CARI LISTESI:BEGIN -->
      <div class="col-lg-8 col-md-6">
        <table id="ks-datatable" class="table table-striped table-bordered"
               width="100%"
               data-pagination="true"
               data-search="true"
               data-height="500"
        >
          <thead>
          <tr>
            <th>İşlem Tarihi</th>
            <th>Ünvan</th>
            <th>Tediye Tipi</th>
            <th>Tutar</th>
            <th>Açıklama</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>İşlem Tarihi</th>
            <th>Ünvan</th>
            <th>Tediye Tipi</th>
            <th>Tutar</th>
            <th>Açıklama</th>
          </tr>
          </tfoot>
          <tbody>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>POS</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Dekont</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Tahakkuk</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>
          <tr>
            <td>29.11.2017 21:30</td>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>Nakit</td>
            <td>85,00+KDV</td>
            <td>Açıklama Bulunamadı</td>
          </tr>

          </tbody>
        </table>
      </div>
      <!-- CARI LISTESI:END -->

      <!-- CARI KART EKLE:BEGIN -->
      <div class="col-lg-4 col-md-6">
        <div class="card text-center">
          <div class="card-header">
            Tediye Girişi
          </div>
          <div class="card-block">
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-search"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Müşteri Adı, Cep Telefonu Arama">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table table-bordered text-light">
                      <tbody>
                      <tr>
                        <td colspan="4">Maalesef hiç bir veri bulunamadı! <a href="#">Oluşturmak ister misiniz ?</a></td>
                      </tr>
                      <tr>
                        <td>Alparslan Oğuz İÇÖZ</td>
                        <td>05347838073</td>
                        <td>1,000TL</td>
                        <td>
                          <a href="#" class="comment-active" title="Cariye Ait Not Bulunmaktadır"><span class="la la-comment"></span></a>
                        </td>
                      </tr>
                      <tr>
                        <td>Fikret TURAN</td>
                        <td>05347838073</td>
                        <td>1,000TL</td>
                        <td>
                          <a href="#" class="comment-inactive" title="Cariye Ait Not Bulunmamaktadır"><span class="la la-comment"></span></a>
                        </td>
                      </tr>
                      <tr>
                        <td>Ümit YILMAZ</td>
                        <td>05347838073</td>
                        <td>1,000TL</td>
                        <td>
                          <a href="#" class="comment-active" title="Cariye Ait Not Bulunmamaktadır"><span class="la la-comment"></span></a>
                        </td>
                      </tr>
                      <tr>
                        <td>Onur ATLI</td>
                        <td>05347838073</td>
                        <td>1,000TL</td>
                        <td>
                          <a href="#" class="comment-inactive" title="Cariye Ait Not Bulunmamaktadır"><span class="la la-comment"></span></a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-qrcode"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Tutar">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-map-signs"></span>
                      </span>
                      <select class="form-control">
                        <option>Tediye Tipi</option>
                        <option>Nakit</option>
                        <option>Kredi Kartı</option>
                        <option>Havale</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-success-outline ks-solid kd-rounded" style="width:100%;">Tediye Oluştur</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer text-muted">
            Günlük Yapılan Tediye 1,233,00 TL
          </div>
        </div>
      </div>
      <!-- CARI KART EKLE:END -->
    </div>
  </div>
</div>
