<div class="container-fluid ks-rows-section">
  <div class="card panel panel-default panel-table">
    <div class="card-header">
      <div class="float-left">
        <span class="header__title">
          Servis Listesi
            <span class="service__number">
              14.250 Kayıtlı Servis
            </span>
        </span>
      </div>
      <div class="header__button float-right">
        <button class="btn btn-primary filter">
          <span class="ks-text">Filtrele</span>
          <span class="la la-filter ks-icon"></span>
        </button>
        <button class="btn btn-primary new_service_add">
          <span class="la la-plus-circle ks-icon"></span>
          <span class="ks-text">Yeni Servis Kaydı</span>
        </button>
      </div>
    </div>
    <div class="card-block">
      <table class="table table-bordered text-light stacktable large-only">
        <thead>
        <tr style="position: relative;bottom: 10px;background: transparent!important;">
          <th>DETAY</th>
          <th>TEKNİSYEN</th>
          <th>RAF</th>
          <th>SERVİS NO</th>
          <th>CARİ ADI</th>
          <th>MARKA/MODEL</th>
          <th>ARIZA</th>
          <th>TUTAR</th>
          <th>BAKİYE</th>
          <th>AÇIKLAMA</th>
          <th>DURUM</th>
          <th>İŞLEMLER</th>
        </tr>
        </thead>
        <tbody>
        <tr class="">
          <td width="1"><a class="detail-icon" href="javascript:"><i class="la la-plus-circle" style="font-size:24px;"></i></a></td>
          <td width="1"><a href="" class="personel_avatar" title="Emre Vuruş">EV</a></td>
          <td width="1">Y11</td>
          <td width="110">123456</td>
          <td>Füme Bilgisayar Ltd. Şti.</td>
          <td><span class="badge badge-default">Apple iPhone 6S</span></td>
          <td>Yedek alınıp tekrardan kurulacak</td>
          <td>100,00$</td>
          <td>230,00$</td>
          <td>
            <a class="detail-icon" href="javascript:" title="Yeni iCloud hesabı açılacaktır."><i class="la la-comment" style="font-size:24px;"></i></a>
          </td>
          <td>
            <div class="table-cell-block status">
              <div class="status-block-container">
                <span class="status-block status-block-success"></span>
              </div>
              <div class="text-block-container">
                <div class="text-block-text">Hazır</div>
              </div>
            </div>
          </td>
          <td width="1" class="table-actions" style="top: 6px;position: relative;">
            <div class="dropdown">
              <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="la la-ellipsis-h"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td width="1"><a class="detail-icon" href="javascript:" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="la la-plus-circle" style="font-size:24px;"></i></a></td>
          <td width="1"><a href="" class="personel_avatar" title="Emre Vuruş">EV</a></td>
          <td width="1">Y11</td>
          <td width="110">123456</td>
          <td>Füme Bilgisayar Ltd. Şti.</td>
          <td><span class="badge badge-default">Apple iPhone 6S</span></td>
          <td>Yedek alınıp tekrardan kurulacak</td>
          <td>100,00$</td>
          <td>230,00$</td>
          <td>
            <a class="detail-icon" href="javascript:" title="Yeni iCloud hesabı açılacaktır."><i class="la la-comment" style="font-size:24px;"></i></a>
          </td>
          <td>
            <div class="table-cell-block status">
              <div class="status-block-container">
                <span class="status-block status-block-success"></span>
              </div>
              <div class="text-block-container">
                <div class="text-block-text">Hazır</div>
              </div>
            </div>
          </td>
          <td width="1" class="table-actions" style="top: 6px;position: relative;">
            <div class="dropdown">
              <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="la la-ellipsis-h"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td width="1"><a class="detail-icon" href="javascript:"><i class="la la-plus-circle" style="font-size:24px;"></i></a></td>
          <td width="1"><a href="" class="personel_avatar" title="Emre Vuruş">EV</a></td>
          <td width="1">Y11</td>
          <td width="110">123456</td>
          <td>Füme Bilgisayar Ltd. Şti.</td>
          <td><span class="badge badge-default">Apple iPhone 6S</span></td>
          <td>Yedek alınıp tekrardan kurulacak</td>
          <td>100,00$</td>
          <td>230,00$</td>
          <td>
            <a class="detail-icon" href="javascript:" title="Yeni iCloud hesabı açılacaktır."><i class="la la-comment" style="font-size:24px;"></i></a>
          </td>
          <td>
            <div class="table-cell-block status">
              <div class="status-block-container">
                <span class="status-block status-block-success"></span>
              </div>
              <div class="text-block-container">
                <div class="text-block-text">Hazır</div>
              </div>
            </div>
          </td>
          <td width="1" class="table-actions" style="top: 6px;position: relative;">
            <div class="dropdown">
              <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="la la-ellipsis-h"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td width="1"><a class="detail-icon" href="javascript:"><i class="la la-plus-circle" style="font-size:24px;"></i></a></td>
          <td width="1"><a href="" class="personel_avatar" title="Emre Vuruş">EV</a></td>
          <td width="1">Y11</td>
          <td width="110">123456</td>
          <td>Füme Bilgisayar Ltd. Şti.</td>
          <td><span class="badge badge-default">Apple iPhone 6S</span></td>
          <td>Yedek alınıp tekrardan kurulacak</td>
          <td>100,00$</td>
          <td>230,00$</td>
          <td>
            <a class="detail-icon" href="javascript:" title="Yeni iCloud hesabı açılacaktır."><i class="la la-comment" style="font-size:24px;"></i></a>
          </td>
          <td>
            <div class="table-cell-block status">
              <div class="status-block-container">
                <span class="status-block status-block-success"></span>
              </div>
              <div class="text-block-container">
                <div class="text-block-text">Hazır</div>
              </div>
            </div>
          </td>
          <td width="1" class="table-actions" style="top: 6px;position: relative;">
            <div class="dropdown">
              <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="la la-ellipsis-h"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td width="1"><a class="detail-icon" href="javascript:"><i class="la la-plus-circle" style="font-size:24px;"></i></a></td>
          <td width="1"><a href="" class="personel_avatar" title="Emre Vuruş">EV</a></td>
          <td width="1">Y11</td>
          <td width="110">123456</td>
          <td>Füme Bilgisayar Ltd. Şti.</td>
          <td><span class="badge badge-default">Apple iPhone 6S</span></td>
          <td>Yedek alınıp tekrardan kurulacak</td>
          <td>100,00$</td>
          <td>230,00$</td>
          <td>
            <a class="detail-icon" href="javascript:" title="Yeni iCloud hesabı açılacaktır."><i class="la la-comment" style="font-size:24px;"></i></a>
          </td>
          <td>
            <div class="table-cell-block status">
              <div class="status-block-container">
                <span class="status-block status-block-success"></span>
              </div>
              <div class="text-block-container">
                <div class="text-block-text">Hazır</div>
              </div>
            </div>
          </td>
          <td width="1" class="table-actions" style="top: 6px;position: relative;">
            <div class="dropdown">
              <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="la la-ellipsis-h"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td width="1"><a class="detail-icon" href="javascript:"><i class="la la-plus-circle" style="font-size:24px;"></i></a></td>
          <td width="1"><a href="" class="personel_avatar" title="Emre Vuruş">EV</a></td>
          <td width="1">Y11</td>
          <td width="110">123456</td>
          <td>Füme Bilgisayar Ltd. Şti.</td>
          <td><span class="badge badge-default">Apple iPhone 6S</span></td>
          <td>Yedek alınıp tekrardan kurulacak</td>
          <td>100,00$</td>
          <td>230,00$</td>
          <td>
            <a class="detail-icon" href="javascript:" title="Yeni iCloud hesabı açılacaktır."><i class="la la-comment" style="font-size:24px;"></i></a>
          </td>
          <td>
            <div class="table-cell-block status">
              <div class="status-block-container">
                <span class="status-block status-block-success"></span>
              </div>
              <div class="text-block-container">
                <div class="text-block-text">Hazır</div>
              </div>
            </div>
          </td>
          <td width="1" class="table-actions" style="top: 6px;position: relative;">
            <div class="dropdown">
              <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="la la-ellipsis-h"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td width="1"><a class="detail-icon" href="javascript:"><i class="la la-plus-circle" style="font-size:24px;"></i></a></td>
          <td width="1"><a href="" class="personel_avatar" title="Emre Vuruş">EV</a></td>
          <td width="1">Y11</td>
          <td width="110">123456</td>
          <td>Füme Bilgisayar Ltd. Şti.</td>
          <td><span class="badge badge-default">Apple iPhone 6S</span></td>
          <td>Yedek alınıp tekrardan kurulacak</td>
          <td>100,00$</td>
          <td>230,00$</td>
          <td>
            <a class="detail-icon" href="javascript:" title="Yeni iCloud hesabı açılacaktır."><i class="la la-comment" style="font-size:24px;"></i></a>
          </td>
          <td>
            <div class="table-cell-block status">
              <div class="status-block-container">
                <span class="status-block status-block-success"></span>
              </div>
              <div class="text-block-container">
                <div class="text-block-text">Hazır</div>
              </div>
            </div>
          </td>
          <td width="1" class="table-actions" style="top: 6px;position: relative;">
            <div class="dropdown">
              <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="la la-ellipsis-h"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td width="1"><a class="detail-icon" href="javascript:"><i class="la la-plus-circle" style="font-size:24px;"></i></a></td>
          <td width="1"><a href="" class="personel_avatar" title="Emre Vuruş">EV</a></td>
          <td width="1">Y11</td>
          <td width="110">123456</td>
          <td>Füme Bilgisayar Ltd. Şti.</td>
          <td><span class="badge badge-default">Apple iPhone 6S</span></td>
          <td>Yedek alınıp tekrardan kurulacak</td>
          <td>100,00$</td>
          <td>230,00$</td>
          <td>
            <a class="detail-icon" href="javascript:" title="Yeni iCloud hesabı açılacaktır."><i class="la la-comment" style="font-size:24px;"></i></a>
          </td>
          <td>
            <div class="table-cell-block status">
              <div class="status-block-container">
                <span class="status-block status-block-success"></span>
              </div>
              <div class="text-block-container">
                <div class="text-block-text">Hazır</div>
              </div>
            </div>
          </td>
          <td width="1" class="table-actions" style="top: 6px;position: relative;">
            <div class="dropdown">
              <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="la la-ellipsis-h"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td width="1"><a class="detail-icon" href="javascript:"><i class="la la-plus-circle" style="font-size:24px;"></i></a></td>
          <td width="1"><a href="" class="personel_avatar" title="Emre Vuruş">EV</a></td>
          <td width="1">Y11</td>
          <td width="110">123456</td>
          <td>Füme Bilgisayar Ltd. Şti.</td>
          <td><span class="badge badge-default">Apple iPhone 6S</span></td>
          <td>Yedek alınıp tekrardan kurulacak</td>
          <td>100,00$</td>
          <td>230,00$</td>
          <td>
            <a class="detail-icon" href="javascript:" title="Yeni iCloud hesabı açılacaktır."><i class="la la-comment" style="font-size:24px;"></i></a>
          </td>
          <td>
            <div class="table-cell-block status">
              <div class="status-block-container">
                <span class="status-block status-block-success"></span>
              </div>
              <div class="text-block-container">
                <div class="text-block-text">Hazır</div>
              </div>
            </div>
          </td>
          <td width="1" class="table-actions" style="top: 6px;position: relative;">
            <div class="dropdown">
              <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="la la-ellipsis-h"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
                </a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<app-servis-detay></app-servis-detay>
