<div class="ks-nav-body">
  <div class="ks-nav-body-wrapper">
    <div class="container-fluid">
      <!-- CARI LISTESI:BEGIN -->
      <div class="col-lg-8 col-md-6">
        <table id="ks-datatable" class="table table-striped table-bordered"
               width="100%"
               data-pagination="true"
               data-search="true"
               data-height="500"
        >
          <thead>
          <tr>
            <th>Ticari Ünvan</th>
            <th>Cep Telefonu</th>
            <th>İşlemler</th>
            <!--<th>Dışarı Aktar</th>-->
            <!--<th>Cari Detay</th>-->
            <th>Bakiye</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Ticari Ünvan</th>
            <th>Cep Telefonu</th>
            <th>İşlemler</th>
            <!--<th>Dışarı Aktar</th>-->
            <!--<th>Cari Detay</th>-->
            <th>Bakiye</th>
          </tr>
          </tfoot>
          <tbody>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-target=".sw-lisans" data-toggle="modal" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-target=".sw-cari-hareket" data-toggle="modal" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-bar-chart"></span></a>
              <a href="" data-target=".bd-example-modal-lg" data-toggle="modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>
          <tr>
            <td>YEDİEYLÜL SÜRÜCÜ KURSU . İNŞ. SAN. VE TİC. LTD. ŞTİ.</td>
            <td>(542) 435-1598</td>
            <td>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Etiket Yazdır" data-original-title="Etiket Yazdır"><span class="ks-icon la la-print"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Düzenle" data-original-title="Düzenle"><span class="ks-icon la la-edit"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lisanslar" data-original-title="Lisanslar"><span class="ks-icon la la-certificate"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="SMS Gönder" data-original-title="SMS Gönder"><span class="ks-icon la la-mobile-phone"></span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cari Hareket" data-original-title="Cari Hareket"><span class="ks-icon la la-try"></span></a>
              <a href="#" data-target=".bd-example-modal-lg" data-toggle="tooltip, modal" data-placement="bottom" title="Cari Detay" data-original-title="Cari Detay"><span class="ks-icon la la-ellipsis-h"></span></a>
            </td>
            <!--<td>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="PDF ile dışarı aktar" data-original-title="PDF ile dışarı aktar"><span class="ks-icon la la-file-pdf-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Excel ile dışarı aktar" data-original-title="Excel ile dışarı aktar"><span class="ks-icon la la-file-excel-o"></span></a>-->
              <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="E-Posta ile dışarı aktar" data-original-title="E-Posta ile dışarı aktar"><span class="ks-icon la la-envelope-o"></span></a>-->
            <!--</td>-->
            <!--<td>-->
              <!--<a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Detaylar</a>-->
            <!--</td>-->
            <td>320,800$</td>
          </tr>

          </tbody>
        </table>
      </div>
      <!-- CARI LISTESI:END -->

      <!-- CARI KART EKLE:BEGIN -->
      <div class="col-lg-4 col-md-6">
        <div class="card text-center">
          <div class="card-header">
            Cari Kart Ekle
          </div>
          <div class="card-block">
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-qrcode"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Cari Kod">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-try"></span>
                      </span>
                      <select class="form-control">
                        <option>Çalışma Şekli</option>
                        <option>Cari</option>
                        <option>Peşin</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon ks-border-danger">
                          <span class="la la-building"></span>
                      </span>
                      <input type="text" class="form-control ks-border-danger" placeholder="Cari Ünvan">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-mobile"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Cep Telefonu">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-phone"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Sabit Telefon">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-map-o"></span>
                      </span>
                      <textarea class="form-control" placeholder="Cari Adres"></textarea>
                    </div>
                    <div class="fl-flex-label">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                      <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-map-signs"></span>
                      </span>
                        <select class="form-control">
                          <option>Cari İl</option>
                          <option>Manisa</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-map-signs"></span>
                      </span>
                        <select class="form-control">
                          <option>Cari İlçe</option>
                          <option>Turgutlu</option>
                        </select>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-bank"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Vergi Dairesi">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-bank"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Vergi Numarası">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-user"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Cari Adı">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-user"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Cari Soyadı">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-at"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Cari E-Posta Adresi">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-barcode"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Muhasebe Kodu">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-users"></span>
                      </span>
                      <select class="form-control">
                        <option>Cari Grubu</option>
                        <option>Alıcı</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-users"></span>
                      </span>
                      <select class="form-control">
                        <option>Cari Tipi</option>
                        <option>Son Kullanıcı</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-group icon icon-lg icon-color-primary">
                      <span class="input-group-addon">
                          <span class="la la-comment"></span>
                      </span>
                      <textarea class="form-control" placeholder="Cari Açıklama"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-success-outline ks-solid kd-rounded" style="width:100%;">Cari Kaydı Oluştur</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer text-muted">
            Sistemde kayıtlı 350 cari bulunmaktadır.
          </div>
        </div>
      </div>
      <!-- CARI KART EKLE:END -->
    </div>
  </div>
</div>

<app-cari-detay></app-cari-detay>
<app-cari-hareket></app-cari-hareket>
<app-lisans></app-lisans>
