<div class="container-fluid">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">DETAY</th>
          <th class="text-center">TEKNİSYEN</th>
          <th class="text-center">RAF</th>
          <th class="text-center">SERVİS NO</th>
          <th>CARİ ADI</th>
          <th>MARKA/MODEL</th>
          <th>ARIZA</th>
          <th class="text-center">TUTAR</th>
          <th class="text-center">BAKİYE</th>
          <th class="text-center">AÇIKLAMA</th>
          <th>DURUM</th>
          <th>İŞLEMLER</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th width="1" class="text-center">
          <a href="#" class="detail__icon">
            <span class="la la-plus-circle"></span>
          </a>
        </th>
        <td width="1" class="text-center">
          <span class="personal__avatar">
            EV
          </span>
        </td>
        <td width="1" class="text-center">T15</td>
        <td width="1" class="text-center">15769</td>
        <td>ALPASLAN OĞUZ İÇÖZ</td>
        <td>
          <span class="badge badge-default">APPLE iPhone 6S</span>
        </td>
        <td>Yedeklenecek</td>
        <td class="text-center">100,00$</td>
        <td class="text-center">0,00$</td>
        <td width="1" class="text-center">
          <a href="" title="Açıklama Bulunmamakta" class="detail__icon comment-deactive">
            <span class="la la-comment"></span>
          </a>
        </td>        <td>
          <span class="badge badge-success">HAZIR</span>
        </td>
        <td width="1" class="table-actions" style="top: 6px;position: relative;">
          <div class="dropdown">
            <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="la la-ellipsis-h"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
              </a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th width="1" class="text-center">
          <a href="#" class="detail__icon">
            <span class="la la-plus-circle"></span>
          </a>
        </th>
        <td width="1" class="text-center">
          <span class="personal__avatar">
            EV
          </span>
        </td>
        <td width="1" class="text-center">T15</td>
        <td width="1" class="text-center">15769</td>
        <td>ALPASLAN OĞUZ İÇÖZ</td>
        <td>
          <span class="badge badge-default">APPLE iPhone 6S</span>
        </td>
        <td>Yedeklenecek</td>
        <td class="text-center">100,00$</td>
        <td class="text-center">0,00$</td>
        <td width="1" class="text-center">
          <a href="" data-toggle="modal" data-target=".bd-example-modal-sm" class="detail__icon">
            <span class="la la-comment"></span>
          </a>
        </td>
        <td>
          <span class="badge badge-success">HAZIR</span>
        </td>
        <td width="1" class="table-actions" style="top: 6px;position: relative;">
          <div class="dropdown">
            <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="la la-ellipsis-h"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
              </a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th width="1" class="text-center">
          <a href="#" class="detail__icon">
            <span class="la la-plus-circle"></span>
          </a>
        </th>
        <td width="1" class="text-center">
          <span class="personal__avatar">
            EV
          </span>
        </td>
        <td width="1" class="text-center">T15</td>
        <td width="1" class="text-center">15769</td>
        <td>ALPASLAN OĞUZ İÇÖZ</td>
        <td>
          <span class="badge badge-default">APPLE iPhone 6S</span>
        </td>
        <td>Yedeklenecek</td>
        <td class="text-center">100,00$</td>
        <td class="text-center">0,00$</td>
        <td width="1" class="text-center">A</td>
        <td>
          <span class="badge badge-success">HAZIR</span>
        </td>
        <td width="1" class="table-actions" style="top: 6px;position: relative;">
          <div class="dropdown">
            <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="la la-ellipsis-h"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
              </a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th width="1" class="text-center">
          <a href="#" class="detail__icon">
            <span class="la la-plus-circle"></span>
          </a>
        </th>
        <td width="1" class="text-center">
          <span class="personal__avatar">
            EV
          </span>
        </td>
        <td width="1" class="text-center">T15</td>
        <td width="1" class="text-center">15769</td>
        <td>ALPASLAN OĞUZ İÇÖZ</td>
        <td>
          <span class="badge badge-default">APPLE iPhone 6S</span>
        </td>
        <td>Yedeklenecek</td>
        <td class="text-center">100,00$</td>
        <td class="text-center">0,00$</td>
        <td width="1" class="text-center">A</td>
        <td>
          <span class="badge badge-success">HAZIR</span>
        </td>
        <td width="1" class="table-actions" style="top: 6px;position: relative;">
          <div class="dropdown">
            <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="la la-ellipsis-h"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
              </a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th width="1" class="text-center">
          <a href="#" class="detail__icon">
            <span class="la la-plus-circle"></span>
          </a>
        </th>
        <td width="1" class="text-center">
          <span class="personal__avatar">
            EV
          </span>
        </td>
        <td width="1" class="text-center">T15</td>
        <td width="1" class="text-center">15769</td>
        <td>ALPASLAN OĞUZ İÇÖZ</td>
        <td>
          <span class="badge badge-default">APPLE iPhone 6S</span>
        </td>
        <td>Yedeklenecek</td>
        <td class="text-center">100,00$</td>
        <td class="text-center">0,00$</td>
        <td width="1" class="text-center">A</td>
        <td>
          <span class="badge badge-success">HAZIR</span>
        </td>
        <td width="1" class="table-actions" style="top: 6px;position: relative;">
          <div class="dropdown">
            <a class="btn btn-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="la la-ellipsis-h"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Çağır
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Teslim
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> İşleme Al
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Mesaj
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Aksesuar ve Uyarısı
              </a>
              <a class="dropdown-item" href="#">
                <span class="la la-pencil icon text-primary-on-hover"></span> Adrese Teslim
              </a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="modal fade bd-example-modal-sm comment_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header comment_modal_header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies – such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (e.g. the visible text), or is included through alternative means, such as
        </p>
      </div>    </div>
  </div>
</div>
