<!-- BEGIN PROJECT TASKS NAVIGATION -->
<div class="ks-navigation ks-browse ks-scrollable" data-auto-height data-fix-height="12">
  <div class="ks-wrapper">
    <div class="ks-separator">
      MENÜ
    </div>
    <ul class="ks-menu">
      <li>
        <a href="#" class="ks-menu-item ks-active">
          <span class="ks-text"><span class="ks-icon la la-inbox"></span> Görev Oluştur</span>
        </a>
      </li>
      <li>
        <a href="#" class="ks-menu-item">
          <span class="ks-text"><span class="ks-icon la la-calendar-o"></span> Görev Raporları</span>
        </a>
      </li>
      <li>
        <a href="#" class="ks-menu-item">
          <span class="ks-text"><span class="ks-icon la la-calendar"></span> Teklif Oluştur</span>
        </a>
      </li>
      <li>
        <a href="#" class="ks-menu-item">
          <span class="ks-text"><span class="ks-icon la la-exclamation-circle"></span> Teklif Raporları</span>
        </a>
      </li>
      <li>
        <a href="#" class="ks-menu-item">
          <span class="ks-text"><span class="ks-icon la la-exclamation-circle"></span> Tahsilat Sistemi</span>
        </a>
      </li>
      <li>
        <a href="#" class="ks-menu-item">
          <span class="ks-text"><span class="ks-icon la la-exclamation-circle"></span> Pazarlama Sistemi</span>
        </a>
      </li>
      <li>
        <a href="#" class="ks-menu-item">
          <span class="ks-text"><span class="ks-icon la la-exclamation-circle"></span> Proje ve Notları</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- END PROJECT TASKS NAVIGATION -->
